<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section id="create">
            <canvas id="mainCanvas"></canvas>
            <div class="wrapper">
                <div class="button">
                    <div class="btn-upload">上传</div>
                    <div class="btn-generate">生成图片</div>
                    <input id="photo" type="file" accept="image/*" />
                </div>
            </div>
        </section>
        <section id="result">
            <img src="">
            <div class="tips">长安图片保存</div>
        </section>
    </body>
</html>